---
layout: page-fullwidth
title: "Statistically Significant Other"
#subheadline: ""
teaser: "Every now and then everyone feels the urge to rant on the internet and a blog is the perfect place for that."
header: no
#image:
#    title:  boyfriend.png
#    caption: Cartoon by XKCD
#    caption_url: "http://xkcd.com/539/"
breadcrumb: false
permalink: "blog/"
# Don't index these pages dear Google.
noindex: true
---

<!-- Here is list of all the blog posts in SSO. Click on a headline to read the teaser. -->


<div class="row">
  <div class="medium-8 columns t30">
    {% include pagination.html %}
  </div><!-- /.medium-7.columns -->
</div><!-- /.row -->